Source: monitoring-plugins
Section: net
Priority: extra
Maintainer: Debian Nagios Maintainer Group <pkg-nagios-devel@lists.alioth.debian.org>
Uploaders: Jan Wagner <waja@cyconet.org>, Alexander Wirt <formorer@debian.org>
Build-Depends: debhelper (>= 5), dpatch (>= 2.0.9), perl, autotools-dev, libdbi-dev, libldap2-dev, libpq-dev, libmysqlclient-dev | libmysqlclient16-dev | libmysqlclient15-dev, libradiusclient-ng-dev, libkrb5-dev, libnet-snmp-perl, procps, mawk | awk, hardening-wrapper
Homepage: https://www.monitoring-plugins.org
Vcs-Browser: http://git.debian.org/?p=pkg-nagios/pkg-nagios-plugins.git
Vcs-Git: git://git.debian.org/pkg-nagios/pkg-nagios-plugins.git
Standards-Version: 3.9.5

Package: monitoring-plugins
Architecture: all
Depends: ${misc:Depends}, monitoring-plugins-basic, monitoring-plugins-standard
Replaces: nagios-plugins (<< 1.6-1~)
Breaks: nagios-plugins (<< 1.6-1~)
Suggests: nagios3 | icinga, nagios-plugins-contrib
Description: Plugins for nagios compatible monitoring systems (metapackage)
 Plugins for nagios compatible monitoring systems like Nagios and Icinga.
 .
 This metapackage will install the entire suite of plugins for nagios.
 If you are installing nagios plugins on a remote "satellite" server
 (using nagios-nrpe-server or nsca), you may be interested in the
 nagios-plugins-basic package.

Package: monitoring-plugins-common
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ucf
Replaces: nagios-plugins-common (<< 1.6-1~)
Breaks: nagios-plugins-common (<< 1.6-1~)
Suggests: nagios3 | icinga
Description: Common files for plugins for nagios compatible monitoring
 Common files for plugins for nagios compatible monitoring systems like Nagios
 and Icinga.
 .
 This package contains common files which maybe needed for plugins.

Package: monitoring-plugins-basic
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, monitoring-plugins-common, procps, iputils-ping [linux-any], inetutils-ping (>= 2:1.9-1~) [kfreebsd-any hurd-any], ucf
Replaces: nagios-plugins-basic (<< 1.6-1~)
Breaks: nagios-plugins-basic (<< 1.6-1~)
Suggests: nagios3 | icinga
Description: Plugins for nagios compatible monitoring systems
 Plugins for nagios compatible monitoring systems like Nagios and Icinga. It
 contains the following plugins:
 .
  check_apt, check_by_ssh, check_clamd, check_cluster,
  check_dhcp, check_disk, check_dummy, check_file_age,
  check_ftp, check_host, check_http, check_icmp,
  check_ide_smart, check_imap, check_ircd, check_jabber,
  check_load, check_log, check_mrtg, check_mrtgtraf,
  check_nagios, check_nntp, check_nntps, check_nt,
  check_ntp, check_ntp_peer, check_ntp_time, check_nwstat,
  check_overcr,  check_ping, check_pop, check_procs,
  check_real, check_rta_multi, check_sensors, check_simap,
  check_smtp, check_spop, check_ssh, check_ssmtp,
  check_swap, check_tcp, check_time, check_udp,
  check_ups, check_users
 .
 This package provides a basic set of plugins with minimal external
 dependencies.  It is not likely to be useful by itself unless you are
 using a remote "satellite" system (using nagios-nrpe-server, check_by_ssh or
 nsca, for example).

Package: monitoring-plugins-standard
Architecture: any
Replaces: nagios-plugins-standard (<< 1.6-1~)
Breaks: nagios-plugins-standard (<< 1.6-1~)
Depends: ${shlibs:Depends}, ${misc:Depends}, ucf, monitoring-plugins-basic
Recommends: ${shlibs:Recommends}, fping, snmp, libnet-snmp-perl, dnsutils, bind9-host | host, smbclient, qstat, rpcbind
Suggests: nagios3 | icinga, postfix | sendmail-bin | exim4-daemon-heavy | exim4-daemon-light
Description: Plugins for nagios compatible monitoring systems
 Plugins for nagios compatible monitoring systems like Nagios and Icinga. It
 contains the following plugins:
 .
  check_bgpstate, check_breeze, check_dbi, check_dig, check_disk_smb,
  check_dns, check_flexlm, check_fping, check_game,
  check_hpjd, check_ifoperstatus, check_ifstatus, check_ldap,
  check_ldaps, check_linux_raid, check_mailq, check_mysql,
  check_mysql_query, check_oracle, check_pgsql, check_radius,
  check_rpc, check_snmp, check_wave
 .
 This package provides the suite of plugins that are most likely to be
 useful on a central nagios host. Some scripts need more packages installed
 to work, which is implemented as recommends.

Package: nagios-plugins
Depends: monitoring-plugins, ${misc:Depends}
Architecture: all
Section: oldlibs
Description: transitional dummy package (nagios-plugins to monitoring-plugins)
 This dummy package is provided to support the transition from
 nagios-plugins to monitoring-plugins and should be removed afterwards.

Package: nagios-plugins-common
Architecture: all
Section: oldlibs
Depends: monitoring-plugins-common, ${misc:Depends}
Replaces: nagios-plugins-basic (<= 1.4.15-5)
Description: transitional dummy package
 This dummy package is provided to support the transition from
 nagios-plugins-common to monitoring-plugins-common and should be removed
 afterwards.

Package: nagios-plugins-basic
Depends: monitoring-plugins-basic, ${misc:Depends}
Architecture: all
Section: oldlibs
Conflicts: nagios-plugins (<= 1.4.2-3)
Replaces: nagios-plugins, nagios-plugins-standard
Description: transitional dummy package
 This dummy package is provided to support the transition from
 nagios-plugins-basic to monitoring-plugins-basic and should be removed
 afterwards.

Package: nagios-plugins-standard
Depends: monitoring-plugins-standard, ${misc:Depends}
Architecture: all
Section: oldlibs
Conflicts: nagios-plugins (<= 1.4.2-3)
Replaces: nagios-plugins
Description: transitional dummy package
 This dummy package is provided to support the transition from
 nagios-plugins-standard to monitoring-plugins-standard and should be removed
 afterwards.
